<footer class="bg-dark text-center text-white-50 py-3" style="position: fixed; bottom: 0; width: 100%; z-index: 100;>
  <div class="container">
    © 2024 SysÉva. All rights reserved.
  </div>
</footer>
